#
# Boot options
#
# CONFIG_ARM64_ACPI_PARKING_PROTOCOL is not set

#
# CPU frequency scaling drivers
#
# CONFIG_ACPI_CPPC_CPUFREQ is not set

#
# Firmware Drivers
#
# CONFIG_ISCSI_IBFT is not set

#
# EFI (Extensible Firmware Interface) Support
#
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=y
# end of EFI (Extensible Firmware Interface) Support

#
# Power management and ACPI options
#
CONFIG_ACPI=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_THERMAL=y
# CONFIG_ACPI_DEBUGGER is not set
# CONFIG_ACPI_EC_DEBUGFS is not set
CONFIG_ACPI_AC=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_BUTTON=y
CONFIG_ACPI_FAN=y
# CONFIG_ACPI_TAD is not set
# CONFIG_ACPI_DOCK is not set
CONFIG_ACPI_PROCESSOR=y
CONFIG_ACPI_TABLE_UPGRADE=y
# CONFIG_ACPI_DEBUG is not set
# CONFIG_ACPI_PCI_SLOT is not set
# CONFIG_ACPI_HED is not set
# CONFIG_ACPI_CUSTOM_METHOD is not set
# CONFIG_ACPI_BGRT is not set
# CONFIG_ACPI_APEI is not set
# CONFIG_ACPI_CONFIGFS is not set
# CONFIG_PMIC_OPREGION is not set

# CONFIG_PNP_DEBUG_MESSAGES is not set

#
# NVME Support
#
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_HWMON=y
CONFIG_HWMON=y
# end of NVME Support

CONFIG_ATA_ACPI=y
# CONFIG_SATA_ZPODD is not set

# CONFIG_NET_SB1000 is not set

#
# Input Device Drivers
#
# CONFIG_FUJITSU_ES is not set
# CONFIG_TOUCHSCREEN_CHIPONE_ICN8505 is not set
# CONFIG_INPUT_SOC_BUTTON_ARRAY is not set

#
# Serial drivers
#
# CONFIG_SERIAL_8250_PNP is not set
# end of Serial drivers

# CONFIG_HW_RANDOM_HISI_V2 is not set
# CONFIG_TCG_INFINEON is not set
# CONFIG_TCG_CRB is not set

#
# I2C support
#
# CONFIG_ACPI_I2C_OPREGION is not set
#
# PC SMBus host controller drivers
#
# CONFIG_I2C_AMD_MP2 is not set

#
# ACPI drivers
#
# CONFIG_I2C_SCMI is not set

#
# SPI Master Controller Drivers
#
# CONFIG_SPI_HISI_SFC_V3XX is not set

#
# Pin controllers
#
# CONFIG_PINCTRL_AMD is not set

#
# Memory mapped GPIO drivers
#
# CONFIG_GPIO_AMDPT is not set

#
# Native drivers
#
CONFIG_SENSORS_K8TEMP=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_SENSORS_FAM15H_POWER=y
CONFIG_SENSORS_CORETEMP=y

#
# ACPI drivers
#
# CONFIG_SENSORS_ACPI_POWER is not set

#
# Watchdog Device Drivers
#
# CONFIG_WDAT_WDT is not set

#
# Camera sensor devices
#
# CONFIG_VIDEO_OV2740 is not set

#
# Platform Glue Driver Support
#
# CONFIG_USB_DWC3_PCI is not set

#
# MMC/SD/SDIO Host Controller Drivers
#
# CONFIG_MMC_SDHCI_ACPI is not set

# CONFIG_PCC is not set

#
# Light sensors
#
# CONFIG_ACPI_ALS is not set

#
# Performance monitor support
#
# CONFIG_ARM_SMMU_V3_PMU is not set
# CONFIG_HISI_PMU is not set

#
# Random Number Generation
#
# CONFIG_CRYPTO_DEV_HISI_SEC2 is not set
# CONFIG_CRYPTO_DEV_HISI_ZIP is not set
# CONFIG_CRYPTO_DEV_HISI_HPRE is not set
